* {
    	/* `otf-font-awesome` is required to be installed for icons */
    	font-family: "0xProto Nerd Font Mono";
    	/* font-size: 14px; */
    	font-size: 14px
}

window#waybar {
    	/*background-color: rgba(25, 20, 20, 1);*/
    	background-color: rgba(9, 10, 12, 1.0);
    	color: #ffffff;
	border-top: 3px solid #c19da4;
}

window#waybar.hidden {
    	opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/
/*
.modules-right {
	background-color: rgba(9, 10, 12, 0.8);
	border-radius: 10px;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	margin-top: 8px; 
    	margin-right: 0.7em;
    	margin-bottom: 8px;
}


.modules-left {
	background-color: rgba(9, 10, 12, 0.8); 
	border-radius: 10px;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	margin-top: 8px; 
    	margin-right: 0.7em;
    	margin-bottom: 8px;
    	margin-left: 0.7em;
}


.modules-center {
	background-color: rgba(9, 10, 12, 0.8); 
	border-radius: 10px;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	margin-top: 8px; 
	margin-right: 0.7em;
	margin-bottom: 8px;
	
}
*/

#workspaces button {
    padding: 0 5px;
    /*background-color: transparent;*/
    /* background-color: rgba(8, 8, 8, 0.8);*/
    color: #ffffff;
    /*border-radius: 10px;*/
}

#workspaces button.focused {
    background-color: #64727D;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#workspaces button:hover {
	background: #080808;
	
}

#workspaces button.active {
	color: #c19da4;
	/* border-bottom: 3px solid #c19da4; */
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    /* background-color: rgba(8, 8, 8, 0.8);*/
    padding: 0 10px;
    color: #ffffff;
    /*border-radius: 10px;*/
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}



#tray {
    /* background-color: #2980b9; */
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}


